*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html ,body{
    overflow-x: hidden;
}
button{
    cursor: pointer;
    background-color: none;
    border: none;
}
input, textarea{
    background: none;
    border: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
